body{
    background-color: black;
    color: white;
}
.container h1{
font-style: oblique;

font-weight: 1500;
display: flex;
justify-content: center;
align-items: center;
}

.inputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emojiInputButton{
    width: 250px;
    height: 25px;
    margin: 0;
    padding: 7px;
    border: 3px solid blue;
    border-radius: 15px;
    
}
/* .container{
margin-left: auto;
} */
.emojiData{
    display: flex;
    align-items: center;
    justify-content: center;
}
tr, td {
    border-top: 1ps solid var(--gray);
    border-bottom: 1px solid var(--gray);
}